@model Milestone_CST350.Models.Board
@{
    string[] imagename = { "0.png", "1.png", "2.png", "3.png", "4.png", "5.png", "6.png", "7.png", "8.png", "bomb.png", "facingDown.png", "flagged.png", "sun.png" };
}

@for (int r = 0; r < 10; r++)
{

    for (int c = 0; c < 10; c++)
    {

        if (c % 10 == 0)
        {
            <div class="line-break"></div>
        }

        <div class=".game-button" id="@r+@c">
            <button class="cell" id="@r+@c" type="submit" value="@r+@c" name="rowcol" onclick="StartTimer();" asp-controller="Game" asp-action="ButtonClick">
                <img class="cell-img" src="~/img/@imagename[@Model.grid[r,c].buttonState]" />
            </button>
        </div>
    }
}