@model Milestone_CST350.Models.Board
@{
    string[] imagename = { "0.png", "1.png", "2.png", "3.png", "4.png", "5.png", "6.png", "7.png", "8.png", "bomb.png", "facingDown.png", "flagged.png", "sun.png" };
}

@for (int r = 0; r < 10; r++)
{

    for (int c = 0; c < 10; c++)
    {

        if (c % 10 == 0)
        {
            <div class="line-break"></div>
        }

        <input type="image" class="cell" id="@r+@c" value="@r+@c" name="rowcol" onclick="StartTimer();" src="~/img/@imagename[@Model.grid[r,c].buttonState]" />
    }
}